@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";


/* @layer base {
    body {
      @apply font-[Noto+Sans,Poppins,Rubik];
    }
    li {
      @apply px-4;
      @apply cursor-pointer;
    }
  } */
  body{
    font-family:  "Poppins", "Rubik";
  }

  .dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: 1fr 1fr; /* Two rows */
    gap: 10px; /* Space between charts */
    border: 2px solid black; /* Outer border */
    padding: 10px;
  }
  
  .chart-box {
    border: 2px solid black; /* Border for each box */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; /* Optional: improves visibility */
  }